.loader, nav, header, main, footer {
    transition: opacity 0.5s ease;
}

.loader {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-color: var(--background);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    animation: glow 10s infinite alternate;
    animation-delay: 200ms;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
  100% {
    text-shadow: 0 50vh 0 #0c2ffb, 0 85vh 0 #2cfcfd, 0 -50vh 0 #fb203b, 0 -85vh 0 #fefc4b; 
  }
}
